# DataStructure & Numerical Computations
pandas==1.3.2

# Hugging Face Modules
transformers==4.10.0
datasets==1.11.0
protobuf==3.17.3
sentencepiece==0.1.96

# Tensor Based Computation Library
torch==1.9.0

# Distributed Computing
ray==1.6.0 # Ray provides a simple, universal API for building distributed applications.
hyperopt==0.2.5 # Distributed Asynchronous Hyperparameter Optimization
wandb==0.12.1 # A CLI and library for interacting with the Weights and Biases API.